##### passo 1: Pegar cotação do dolar
##### passo 2: Pegar cootação do euro
##### passo 3: Pegar cootação do ouro
##### passo 4: Importar a base e atualizar cotações em base
##### passo 5: Calcular os novos preços e salvar/exportar a base de dados

In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [14]:
navegador = webdriver.Chrome()
# cotacao Dolar
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH,'//*[@id="APjFqb"]').send_keys("Cotação dolar")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[4]/center/input[1]').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

# cotacao Euro
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH,'//*[@id="APjFqb"]').send_keys("Cotação euro")
navegador.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[4]/center/input[1]').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH,'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)


# cotacao Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH,'//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',', '.')
print(cotacao_ouro)

navegador.quit()

4.9984
5.4095184000000005
318.56

In [15]:
import pandas as pd 

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [18]:
# tabela.loc['linha', 'coluna']
tabela.loc[tabela['Moeda'] == 'Dólar','Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda'] == 'Euro','Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda'] == 'Ouro','Cotação'] = float(cotacao_ouro)
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,4.998400,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.409518,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,4.998400,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,4.998400,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.409518,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,4.998400,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,318.560000,7000.00,1.15,8050.000